body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    text-align:left
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 80%;
    height: auto;
  }

  body {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
  }

h1 {
    text-align: center;
    color: gray;
}

h1{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: whitesmoke;
}

.footer-links {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%; 
    bottom: 0;
    padding: 10px; 
  }

  .video-container {
    display: flex;             
    justify-content: center; 
    align-items: center;      
    border: 5px solid cornflowerblue;    
    padding: 10px;              
    box-sizing: border-box;      
    display: flex;
  flex-direction: column;   /* Stack the text and video vertically */
  align-items: center;      /* Center the content horizontally */
  justify-content: center;  /* Center the content vertically */
  text-align: center;       /* Center the text */
  margin-top: 20px;         /* Add space from top */
  border: 5px solid #333;   /* Border around the container */
  padding: 10px;            /* Padding inside the container */
  }


  .hover-list ul {
    list-style: disc;
    padding: 0;
    margin: 0;
  }
  
  .hover-list li {
    position: relative;
    margin-bottom: 20px;
    padding: 10px;
    width: 200px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .hover-list li:hover {
    background-color: cornflowerblue;
  }
  
  .preview-img {
    position: absolute;
    left: 220px; /* Adjust distance to the right */
    top: 0;
    width: 300px;
    height: 200px;
    display: none;
    border: 2px solid #333;
    background-color: #fff;
    z-index: 10;
  }
  
  .preview-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Show the image ONLY when hovering on the list item */
  .hover-list li:hover .preview-img {
    display: block;
  }
